@use '../../global.scss' as *;

div.desafeto-page
{
  display: flex;
  flex-direction: column;
  align-items: center;

  header
  {
    width: 100vw;
    max-width: 100%;
    height: 70px;
    border-bottom: 1px solid map-get($colors, 'Dracula-Orchid');

    display: flex;
    justify-content: center;
    align-items: center;

    button
    {
      position: absolute;
      left: 10px;
    }
 
    h1.main-title
    {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      color: map-get($colors, 'Dracula-Orchid');
      margin-right: 1rem;
    }

    img.heart-icon
    {
      height: 50px;
    }
  }
}